# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Entornos virtuales
# --------------------
env/
venv/
.env/
.env_*/
ENV/

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Sistema operativo
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Cache y temporales
# --------------------
*.log
*.tmp
